extends ../_layouts/admin

block styles
  link(rel='stylesheet' href='/dist/styles/pages/admin/document.css')

block adminBody
  .admin-content
    .container.container-2
      .form-color
        .container.container-3
          form(
            method='post'
            enctype='multipart/form-data'
            id='formDocument'
          ).form.form-small.form-admin
            include ./includes/update-delete
            +formFieldsFromSchema(populatedSchema, 'fg-l1')
            include ./includes/update-delete

block modals
  .modal.js-modal
    .modal-content
      p
        i.icon.no-click.fa.fa-exclamation-triangle
      p
        | Are you sure you want to delete #{doc.name || doc.id}?
      .form-group.text-center
        button.btn.btn-3.js-modal-confirm(
          form='formDocument'
          value='delete'
          name='action'
          type='submit'
        ) Delete
        button.btn.btn-1.js-modal-dismiss Cancel

block js
  script(src='/dist/js/pages/admin/document.js')
