extends ../_layouts/admin

block adminStyles
  link(rel='stylesheet' href='/dist/styles/pages/admin/document.css')

block adminBody
  .admin-content
    .container.container-2
      .form-color
        .container.container-3
          form(
            method='post'
            enctype='multipart/form-data'
            id='formDocument'
            data-id=doc.id
          ).form.form-small.form-admin.js-document
            .form-actions
              include ./includes/update-delete
            .form-actions.admin-preview
              a.btn.btn-1.form-action(href=doc.link, target='_blank')
                =doc.published ? 'View' : 'Preview'
            +formFieldsFromSchema(populatedSchema, 'fg-l1')
            .form-actions
              include ./includes/update-delete

block modals
  .modal.js-modal
    .modal-content
      p
        i.icon.no-click.fa.fa-exclamation-triangle
      p
        | Are you sure you want to delete #{doc.name || doc.id}?
      .form-group.text-center
        button.btn.btn-3.js-modal-confirm(
          form='formDocument'
          value='delete'
          name='action'
          type='submit'
        ) Delete
        button.btn.js-modal-dismiss Cancel

block adminJs
  script(src='/dist/js/pages/admin/document.js')
