extends ../_layouts/admin

block adminBody
  .container.container-1
    h2.heading.h2 #{modelName} (#{models.length})

    form(method='post').form-spaced
      +formFieldsFromSchema(populatedSchema)
      input(type='submit', value='create').btn.btn-1

    table.tbl.tbl-full.tbl-small
      -var newCount = 0
      thead
        tr
          th #
          th id
          each key in tableColumns
            th= key
      tbody
        each model in models
          -var m = model.toObject()
          tr
            td= ++newCount
            td
              a(href='/admin/' + modelName + '/' + model._id)
                | #{model.id}
              each key in tableColumns
                td= m[key]
