extends ../_layouts/admin

block adminBody
  .container.container-1
    h2.heading.h4 #{modelName} (#{models.length})

    form(method='post').form.container.container-3
      +formFieldsFromSchema(populatedSchema)
      .text-center
        input(type='submit', value='create').btn.btn-1

    table.tbl.tbl-full.tbl-small.tbl-spaced-l2.tbl-color.tbl-h-1col
      -var newCount = 0
      thead
        tr
          th
          th _id
          each key in tableColumns
            th= key
      tbody
        each model in models
          -var m = model.toObject()
          tr
            th= ++newCount
            td
              a(href='/admin/' + modelName + '/' + model._id)
                | #{model.id}
              each key in tableColumns
                if key === 'uploaded'
                  td= filters.moment(m[key]).format('MMMM DD YYYY HH:mm:ss')
                else
                  td= m[key]
