extends ../_layouts/content-spaced-top

block bodyContent
  .container.container-3
    h2.heading.h2 Recipe Conversions
    h3.heading.h3 Conversion Tool
    if data.result
      .note
        p= data.result
    form(method='post').form.form-small
      .form-group
        label(for='amount') Amount
        input(
          type='text'
          name='amount'
          id='amount'
          value=data.amount
          placeholder='1').form-field.ff-wide
      .form-group
        label(for='from').label From
          .select-wrap.form-field.ff-wide
            select(name='from' id='from').form-field.ff-wide
              each ratio in ratios
                option(selected=data.from === ratio.name.full)= ratio.name.full
      .form-group
        label(for='to') To
          .select-wrap.form-field.ff-wide
            select(name='to' id='to').form-field.ff-wide
              each ratio in ratios
                option(selected=data.to === ratio.name.full)= ratio.name.full
      .form-group
        label(for='adjusment') Adjustment
        input(
          type='text'
          name='adjustment'
          id='adjustment'
          placeholder='1'
          value=data.adjustment
        ).form-field.ff-wide
      .text-center
        input(type='submit').btn.btn-1.form-field.ff-wide

    .gap

    .m-conversion-charts
      h3.heading.h3 Conversion Charts
      .ccm-tables
        each r, i in ratios.slice(0, ratios.length - 1)
          -var section = ratios.slice(i + 1, i + 3)
          //- h3.heading.h3= r.name.abrv || r.name.full
          table.tbl.tbl-small-2.tbl-color.tbl-grid
            thead
              tr
                th
                each r in section
                  th
                    span= r.name.abrv || r.name.full
            tbody
              tr
                th(scope='col')
                  span= '1 '
                  span= r.name.abrv || r.name.full
                each rr in section
                  td= rr.ratios[r.name.full]
