.text-center.js-form-actions
  button(
    type='submit'
    value='update'
    name='action').btn.btn-1.form-action Update
  button(
    type='submit'
    value='delete'
    name='action'
  ).btn.btn-3.form-action.js-delete Delete
  button(
    type='submit'
    value='cancel'
    name='action'
  ).btn.form-action Cancel
