mixin formFieldsFromSchema(fields)
  each field, key in fields
    -var type = field.instance
    .form-group.fg-l1
      label(for=key).label.heading.h4= key

      if type === 'Array'
        if field.caster.enumValues && field.caster.enumValues.length
          .form-group.fg-spread
            each option in field.caster.enumValues
              .form-group
                label(for=key + option).label-2= option
                input(
                  type='checkbox'
                  id=`${key}${option}`
                  name=key
                  value=option
                  checked=field.data && field.data.indexOf(option) > -1
                ).no-space

        else
          .form-group
            each value in field.data
              input(id=key type='text' name=key value=value).form-field.ff-wide
            input(type='text' name=key).form-field.ff-wide

      else if type === 'Boolean'
        input(id=key name=key type='checkbox').form-field

      else if type === 'Date'
        input(id=key name=key type='date').form-field.ff-wide

      else if type === 'String' || type === 'Number'
        input(id=key name=key type='text' value=field.data).form-field.ff-wide
