mixin recipes(recipes)
  .m-recipe-listings
    p.js-recipes-tally= filters.i.tally(data.recipes.recipes, ['recipe', 'recipes'])
    .rlm-recipes-wrap
      each r in recipes
        a(href=filters.i.slugify(`/recipe/${r.name}/${r.id}`)).rlm-recipe
          .rlm-title= filters.capitalizeTitles(r.name)
          img(src='/images/photos/recipes/pastel-de-choclo/small.jpg').rlm-photo

if compileRecipes
  +recipes(recipes)
