mixin recipes(recipes)
  .m-recipe-listings
    .rlm-wrap
      p.js-recipes-tally.rlm-tally
        =filters.i.tally(recipes, ['recipe', 'recipes'])
      .rlm-recipes-wrap
        each r in recipes
          a(href=filters.i.slugify(`/recipe/${r.name}/${r.id}`)).rlm-recipe
            .rlm-title= filters.capitalizeTitles(r.name)
            .rlm-photo(style=`background-image:url(/${r.photo});`)

      if !recipes.length
        p.rlm-none.text-center
         button(data-nav='.js-right-nav').js-nav-ctrl.btn.btn-1 Adjust Filters

if compileRecipes
  +recipes(recipes)
