mixin recipeIngredients(ingredients, subIngredient)
  -var ingredientsCount = 0;
  ul.rim-ingredients
    each i in ingredients
      li(
        itemprop= subIngredient ? '' : 'recipeIngredient'
      ).rim-ingredient
        i(
          style=filters.i.rotateRandom()
        ).icon.fa.fa-star-o.js-ingredient
        span.js-ingredient
          if i.recipe
            a(href=i.recipe.link)= i.recipe.defaultName
          else
            = `${i.text}${i.amount}`
        if i.recipe && i.recipe.ingredients
          ul.rim-sub-ingredients
            +recipeIngredients(i.recipe.ingredients, true)
