mixin recipeIngredients(ingredients, subIngredient)
  -var ingredientsCount = 0;
  ul()
    each i in ingredients
      li(
        itemprop= subIngredient ? '' : 'recipeIngredient'
      ).rim-ingredient
        i(
          style=filters.i.rotateRandom()
          class=subIngredient ? 'fa-star-o' : 'fa-star'
        ).icon.fa.no-click
        span
          if i.recipe
            a(href=i.recipe.link)= i.recipe.defaultName
            if i.recipe.ingredients
              ul.rim-sub-ingredients
                +recipeIngredients(i.recipe.ingredients, true)
          else
            = `${i.text}${i.amount}`
