extends ../_layouts/content-spaced-top

block seoDescription
  meta(name='description' content=data.recipe.seoDescription)

block styles
  link(rel='stylesheet' href='/dist/styles/pages/recipes/recipe.css')

block flashMessages
block bodyContent
  -var r = data.recipe
  .container.container-3
    +flashMessages(flash)
    .m-recipe(data-recipe=filters.stripPrivates(data.recipe._doc))

      //-
        Header.
        -------------------
      .rm-section.rm-header
        if r.servings
          .rm-servings
            span.heading.h5.no-space= `Servings - ${r.servings.servings}`
            span.heading.h5= `Serving Size - ${r.servings.servingSize}`
        h1.heading.h1.rlm-h= filters.capitalizeTitles(r.name)
        .rm-main-photo
          .rm-photo(
            style= r.photo ? `background-image:url(/${r.photo});` : null
          )

      //-
        Intro.
        -------------------
      .rm-section.rm-intro
        if r.classifications.length || r.summary
          .note
            .rm-classes
              +recipeClasses(r.classifications)
            p.rm-summary= r.summary

      //-
        Recipe.
        -------------------
      .m-recipe-main-content.rm-section.rm-recipe
        .m-recipe-ingredients
          h2.heading.h2.rim-heading
            span(data-target='.m-recipe-ingredients').js-zoom Ingredients: #{r.ingredients.length}
            i(data-target='.m-recipe-ingredients').icon.fa.fa-plus.rmcm-zoom.js-zoom
          .rm-list.list-spaced-s1
            +recipeIngredients(r.ingredients)

        .m-recipe-steps
          -var stepsCount = 0;
          h2.heading.h2
            span(data-target='.m-recipe-steps').js-zoom Steps: #{r.steps.length}
            i(data-target='.m-recipe-steps').icon.fa.fa-plus.rmcm-zoom.js-zoom
          ul.rm-list.list-spaced-s1
            each step in r.steps
              li.rm-count-wrap
                p
                  span.rm-count.rsm-count= ++stepsCount
                  span.rsm-text= step.text
                  if step.photo
                    .rsm-photo(style=`background-image:url(/${step.photo})`)

        if r.notes
          .note
            p.rm-notes= r.notes

      //-
        Tags.
        -------------------
      if r.tags
        .rm-section
          h2.heading.h2 Tags
          ul.rm-list.list-spaced-s1.m-tag-list
            each t in r.tags
              li.tlm-i
                a(href=`/recipes/tag/${t.defaultName}/${t.id}`)= t.defaultName



      //-
        Footer.
        -------------------
      .rm-section.rm-footer
        if r.published
          p.rm-date Published #{filters.moment(r.updated).format('MMMM DD, YYYY')}

        if r.updated && filters.moment(r.updated).diff(filters.moment(r.published), 'days') < 0
          p.rm-date Updated #{filters.moment(r.updated).format('MMMM DD, YYYY')}

block contentJs
  script(src='/dist/js/pages/recipes/recipe.js')
