extends ../_layouts/content

block bodyContent
  -var r = data.recipe
  .container.container-1
    .m-recipe
      h1.heading.no-space.h2= filters.capitalizeTitles(r.name)

      p.rm-summary= r.summary
      +recipeClasses(r.classifications)

      img(src=`/${r.photo}`).rm-main-photo

      .m-recipe-ingredients
        h2.heading.h3.rim-h Ingredients
        ul
          each i in r.ingredients
            li= `${i.text}${i.amount}`

      .m-recipe-steps
        -var stepsCount = 0;

        h2.heading.h3 Steps
        each step in r.steps
          .rsm-step
            p.rsm-text
              span.rsm-count= ++stepsCount
              =step

      if r.uploaded
        p.rm-date updated #{filters.moment(r.uploaded).format('MMMM DD, YYYY')}
