extends ../_layouts/content

block bodyContent
  -var r = data.recipe
  .container.container-3
    .m-recipe
      h1.heading.h2.rlm-h= filters.capitalizeTitles(r.name)
      img(src=`/${r.photo}`).rm-main-photo

      +recipeClasses(r.classifications)
      p.rm-categories= r.categories
      p.rm-summary= r.summary

      .m-recipe-ingredients
        h2.heading.h3 Ingredients
        ul
          each i in r.ingredients
            li= `${i.text}${i.amount}`

      .m-recipe-steps
        -var stepsCount = 0;

        h2.heading.h3 Steps
        each step in r.steps
          .rsm-step
            p.rsm-text
              span.rsm-count= ++stepsCount
              =step

      h2.heading.h3 Note
      p.rm-notes= r.notes

      if r.updated
        .rm-footer
          p.rm-date Updated #{filters.moment(r.updated).format('MMMM DD, YYYY')}
