extends ../_layouts/content-spaced-top

block contentMeta
  meta(property='og:description' content=data.recipe.seoDescription)
  meta(property='og:image' content=`/${data.recipe.photo}`)
  meta(property='og:site_name' content='heyfeedme.com')
  meta(property='og:title' content=title)
  meta(property='og:type' content='website')
  meta(property='og:url' content=data.recipe.link)
  link(canonical=data.recipe.link)

block seoDescription
  meta(name='description' content=data.recipe.seoDescription)

block styles
  link(rel='stylesheet' href='/dist/styles/pages/recipes/recipe.css')

block flashMessages
block bodyContent
  -var r = data.recipe
  .container.container-3
    +flashMessages(flash)
    .m-recipe(
      itemscope='' itemtype='https://schema.org/Recipe'
      data-recipe=filters.stripPrivates(data.recipe._doc)
    )

      //-
        Header.
        -------------------
      .rm-section.rm-header
        if r.servings
          .rm-servings(itemprop='recipeYield')
            if r.servings.servings
              span.heading.h5.no-space= `Servings - ${r.servings.servings}`
            if r.servings.servingSize
              span.heading.h5= `Serving Size - ${r.servings.servingSize}`
        h1.heading.h1.rlm-h(itemprop='name')= filters.capitalizeTitles(r.name)
        .rm-main-photo
          a(
            data-pin-do='buttonPin'
            data-pin-custom='true'
            data-pin-description=r.seoDescription || r.title
            href=`https://www.pinterest.com/pin/create/button/?url=${r.absoluteLink}&media=${r.photoUrl}`
          ).social-pinit-link
            .rm-photo(
              itemprop='image'
              style= r.photo ? `background-image:url(${r.photo});` : null
            )
            span.social-pinit
              i.icon.fa.fa-pinterest
              | Pin Recipe

      //-
        Intro.
        -------------------
      .rm-section.rm-intro
        if r.classifications.length || r.summary
          .note
            if r.classifications.length
              .rm-classes
                +recipeClasses(r.classifications)
            p.rm-summary= r.summary || r.seoDescription

      //-
        Recipe.
        -------------------
      .m-recipe-main-content.rm-section.rm-recipe
        .m-recipe-ingredients
          h2.heading.h2.rim-heading
            span(data-target='.m-recipe-ingredients').js-zoom Ingredients: #{r.ingredients.length}
            i(data-target='.m-recipe-ingredients').icon.fa.fa-plus.rmcm-zoom.js-zoom
          .rm-list.list-spaced-s1
            +recipeIngredients(r.ingredients)

        .m-recipe-steps
          -var stepsCount = 0;
          h2.heading.h2.rim-heading
            span(data-target='.m-recipe-steps').js-zoom Steps: #{r.steps.length}
            i(data-target='.m-recipe-steps').icon.fa.fa-plus.rmcm-zoom.js-zoom
          ul.rsm-steps.rm-list
            each step in r.steps
              li.rm-count-wrap
                p
                  span.rm-count.rsm-count= ++stepsCount
                  span(itemprop='recipeInstructions').rsm-text= step.text
                  if step.photo
                    .rsm-photo(style=`background-image:url(${step.photo})`)

        if r.notes
          .note
            p.rm-notes= r.notes

      //-
        Tags.
        -------------------
      if r.tags && r.tags.length
        .rm-section
          h2.heading.h2 Tags
          ul.rm-list.list-spaced-s1.m-tag-list
            each t in r.tags
              li.tlm-i
                a(href=`/recipes/tag/${t.defaultName}/${t.id}`)= t.defaultName



      //-
        Footer.
        -------------------
      .rm-section.rm-footer
        if r.published
          p.rm-date Published #{filters.moment(r.updated).format('MMMM DD, YYYY')}

        if r.updated && filters.moment(r.updated).diff(filters.moment(r.published), 'days') < 0
          p.rm-date Updated #{filters.moment(r.updated).format('MMMM DD, YYYY')}

block contentJs
  script(src='/dist/js/pages/recipes/recipe.js')
  script(
      async defer
      src='//assets.pinterest.com/js/pinit.js')
