extends ../_layouts/content-spaced-top

block seoDescription
  meta(name='description' content=data.recipe.seoDescription)

block styles
  link(rel='stylesheet' href='/dist/styles/pages/recipes/recipe.css')

block bodyContent
  -var r = data.recipe
  .container.container-3
    .m-recipe
      h1.heading.h2.rlm-h= filters.capitalizeTitles(r.name)
      .rm-main-photo
        .rm-photo(
        style= r.photo ? `background-image:url(/${r.photo});` : null
        )

      +recipeClasses(r.classifications)
      p.rm-categories= r.categories
      p.rm-summary= r.summary

      .m-recipe-ingredients
        h2.heading.h3 Ingredients
        ul
          each i in r.ingredients
            li= `${i.text}${i.amount}`

      .m-recipe-steps
        -var stepsCount = 0;

        h2.heading.h3 Steps
        each step in r.steps
          .rsm-step
            p.rsm-text
              span.rsm-count= ++stepsCount
              =step

      h2.heading.h3 Note
      p.rm-notes= r.notes

      .rm-footer
        if r.published
          p.rm-date Published #{filters.moment(r.updated).format('MMMM DD, YYYY')}

        if r.updated && filters.moment(r.updated).diff(filters.moment(r.published), 'days') < 0
          p.rm-date Updated #{filters.moment(r.updated).format('MMMM DD, YYYY')}
