extends ../_layouts/content-spaced-top

block seoDescription
  meta(name='description' content=data.recipe.seoDescription)

block styles
  link(rel='stylesheet' href='/dist/styles/pages/recipes/recipe.css')

block flashMessages
block bodyContent
  -var r = data.recipe
  .container.container-3
    +flashMessages(flash)
    .m-recipe(data-recipe=filters.stripPrivates(data.recipe._doc))

      //-
        Header.
        -------------------
      .rm-section.rm-header
        h1.heading.h1.rlm-h= filters.capitalizeTitles(r.name)
        .rm-main-photo
          .rm-photo(
            style= r.photo ? `background-image:url(/${r.photo});` : null
          )

      //-
        Intro.
        -------------------
      .rm-section.rm-intro
        if r.classifications.length || r.summary
          .note
            .rm-classes
              +recipeClasses(r.classifications)
            p.rm-summary= r.summary

      //-
        Recipe.
        -------------------
      .rm-section.rm-recipe
        .m-recipe-ingredients
          h2.heading.h2 Ingredients: #{r.ingredients.length}
          .rm-list.list-spaced-s1
            +recipeIngredients(r.ingredients)

        .m-recipe-steps
          -var stepsCount = 0;
          h2.heading.h2 Steps: #{r.steps.length}
          ul.rm-list.list-spaced-s1
            each step in r.steps
              li.rm-count-wrap
                p
                  span.rm-count.rsm-count= ++stepsCount
                  =step

        if r.notes
          .note
            p.rm-notes= r.notes

      //-
        Tags.
        -------------------
      if r.tags
        .rm-section
          h2.heading.h2 Tags
          ul.rm-list.list-spaced-s1.m-tag-list
            each t in r.tags
              li.tlm-i
                a(href=`/recipes/tag/${filters.i.slugify(t.name)}/${t.id}`)= t.name



      //-
        Footer.
        -------------------
      .rm-section.rm-footer
        if r.published
          p.rm-date Published #{filters.moment(r.updated).format('MMMM DD, YYYY')}

        if r.updated && filters.moment(r.updated).diff(filters.moment(r.published), 'days') < 0
          p.rm-date Updated #{filters.moment(r.updated).format('MMMM DD, YYYY')}
